html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    width: 100%;
  font-size: 100%;
  font-weight: 300;
  line-height: 1;
 align-items: center;
  background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
  display: flex;
  height: 100vh;
  justify-content: center;

}
/*calculadora leyendas*/
.calculator {
  background: rgb(207, 245, 13, 0.4);
  border-radius: 5%;
  box-shadow: 1px 1px 2px 2px black;
  padding: 5px;
  width: 200px;
}

.calculator-screen,
.topscreen {
  border-radius: 10px;
  font-family: Trebuchet MS;
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
padding-right: 10px;
}
.topscreen {
  color: cyan;
}
.screen {
   width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #252525;
  color: #fff;
}
.onscreen {
  width: 50%;
  font-size: 1rem;
  border: none;
  background-color: #252525;
  margin-left: 50px;
  color: rgb(251, 228, 60, 0.6);
  text-align: center;
}
.clcbtn {
  background: rgb(220, 175, 31);
  cursor: pointer;
  border-radius: 30%;
  box-shadow: 1px 1px 1px 1px blue;
  font-family: papyrus;
  font-weight: 900;
  font-size: 250%;
  width: 100%;
}

button:hover {
  background-color: #eaeaea;
}

.all-clear {
  cursor: pointer;
  border-radius: 20%;
  font-family: papyrus;
  font-weight: 900;
  font-size: 250%;
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
  width: 100%;
}

.all-clear:hover {
  background-color: #f17377;
}

.convert {
  width: 100%;
  cursor: pointer;
  border-radius: 20%;
  font-family: papyrus;
  font-weight: 900;
  font-size: 250%;
  background-color: green;
  border-color: #b0353a;
  color: #fff;
}
.convert:hover {
  color: black;
}
.calculator-keys {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  grid-gap: 5px;
  padding: 5px;
  place-content: center;
  place-items: center;
}


